<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
    <h1><%= invoice.companyName %></h1>
    <ul>
        <% invoice.items.forEach(function(item) { %>
            <li><%= item.name %>: <%= item.amount %>円</li>
        <% }); %>
    </ul>
    <p>Total: <%= invoice.totalAmount %>円</p>
</body>
</html>
