body {
    font-family: 'Arial', sans-serif;
    background-color: #fefbfb;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50a3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #077187 1px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}